<%content_for :title do%>
	Vantagens
<%end%>

<%content_for :head do%>
	<script>
	$(document).ready(function() {
	    $(".Slider_box").hide();

		$("#Div_clique").click(function(){
			if ($(".Slider_box").is(":hidden")) {
				$(".Slider_box").slideDown("slow");
			} else {
				$(".Slider_box").slideUp("hide");
			}
		});
	});
	</script>
<%end%>

<div id="Box_left">
<h1 class="Title_1_int">	Confira algumas das vantagens do AquaClor para a sua revenda:</h1>
   
<span class="Title_3_int_blue" style="margin:0px;"><a><img src="images/img_arrowright_detail.png" width="7" height="6" style="margin-bottom:2px; margin-right:4px;" />Diferenciação:</a></span>

<p class="Text_1_int">
O revendedor dessa linha de equipamentos distingue-se dos demais
por oferecer a seus clientes o que todos buscam em seu dia-a-dia:
comodidade, tranquilidade e praticidade, sem que isso represente um aumento de custos para o consumidor.  
</p><br><br>

<span class="Title_3_int_blue" style="margin:0px;"><a><img src="images/img_arrowright_detail.png" width="7" height="6" style="margin-bottom:2px; margin-right:4px;" />Fidelização:</a></span>

<p class="Text_1_int">
	Por ser uma linha de produtos diferenciada, encontrada em poucas revendas,
	os consumidores são direcionados na busca pelos produtos e, após a sua aquisição,
	geram vínculo em razão de sua instalação, manutenção e outros serviços e soluções
	decorrentes. Além disso, existe o aspecto da fidelização econômica, que você
	poderá conferir com o seu representante Nautilus ou através de contato
	pelo e-mail: vendas@nautilus.ind.br.
</p><br><br>

<span class="Title_3_int_blue" style="margin:0px;"><a><img src="images/img_arrowright_detail.png" width="7" height="6" style="margin-bottom:2px; margin-right:4px;" />Lucratividade:</a></span>

<p class="Text_1_int">
	Os produtos da linha AquaClor são comercializados em pontos de venda selecionados,
	o que diminui a concorrência e aumenta sua lucratividade. Por exemplo, a venda de 1 AquaClorClorador
	equivale à venda contínua de produtos tradicionais utilizados para o mesmo fim, para um mesmo cliente e 
	durante mais de 5 anos. Vale lembrar que a fidelização desse tipo de venda é dificultada pela disputa de mercado
	com as lojas especializadas, localizadas em áreas estratégicas e diversas, como supermercados, pet shops,
	agropecuárias, casas de materiais de construção e outras. 

	
</p><br /><br />

<span class="Title_3_int_blue" style="margin:0px;"><a><img src="images/img_arrowright_detail.png" width="7" height="6" style="margin-bottom:2px; margin-right:4px;" />Economia:</a></span>

<p class="Text_1_int">
	Além do conforto e comodidade que se entrega ao consumidor, existe uma grande economia gerada com custos
	de tratamento e manutenção da piscina, tornando a linha AquaClor ainda mais atrativa para seus clientes.	
</p><br /><br />
<h1 class="Title_3_int_blue_big">Consulte o seu representante Nautilus para mais informações!</h1>
	<!-- 
	<p class="Text_1_int">OpH-Cl é um moderno e versátil controlador de PH e cloro quetornará seu lazer ainda mais saudável e seguro.</p>
    <br />
    <p class="Text_1_int">Podendo ser utilizado em conjunto com o Clorador ou com uma bomba dosadora,o pH-Cl regula os níveis de phou cloro da água de sua piscina, fazendo com que esteja sempre dentro dos padrões ideais para garantir a segurança, conforto e saúde de todos os banhistas.</p>
    <br />
    <p class="Text_1_int">Sua versatilidade e eficiência são percebidas na definição de sua função, uma vez que pode monitorar apenas uma substância (PH ou cloro) de forma dedicada, de acordo com a função escolhida. Para monitorar e controlar os níveis de ambas as substâncias, é indicado o uso de dois aparelhos AquaclorpH-Cl, sendo, em conjunto com o AquaclorClorador, o kit completo de automatização no acompanhamento e tratamento da água de piscinas.</p>
    <br />
    <span class="Title_2_int">O AquaclorpH-Cl garante a você vantagens exclusivas:</span>
    <br />
   <div class="Text_topic_field">
        <span class="Text_1_int_topic"><span class="Text_1_int_topic_num">1.</span> Elimina a necessidade de aplicação constante de reagentes para testes dos níveis de cloro ou ph.</span><br />
        <span class="Text_1_int_topic"><span class="Text_1_int_topic_num">2.</span> Mantém a piscina sempre pronta para uso com segurança e sem trabalho, pois controla a aplicação de niveladores de ph ou cloro, garantindo a higiene e qualidade da água.</span><br />
        <span class="Text_1_int_topic"><span class="Text_1_int_topic_num">3.</span> Garante praticidade na manutenção e mais tempo a você e sua família para aproveitar a piscina.</span><br />
		<br /> <br /> 
   </div>  
   <p class="Text_1_int">Para facilitar a leitura das operações do aparelho, o pH-Cl  possui display de 2 linhas por 16 caracteres que apresenta a temperatura e a medida realizadas pelo sensor de pH ou ORP – cloro. </p>
   <br />
   <p class="Text_1_int">O pH-Cl é a solução ideal para quem busca manter a água da piscina sempre equilibrada, com ph e cloro nas medidas certas, conferindo ainda mais qualidade à água e tempo a você.</p>    
   <br />
   <span class="Title_3_int_blue" id="Div_clique"><a><img src="images/img_arrowright_detail.png" width="7" height="6" style="margin-bottom:2px; margin-right:4px;" />Informações técnicas</a></span>	 
        <div id="Field_download">
            <div class="Slider_box">
                <div class="Down_content">
                <span class="Down_text1"><a href="#" >Manual do Produto</a> </span><br />
                <span class="Down_text2">Nomearquivo</span><span class="Down_text2"><img src="images/img_detail_line_download.png" width="2" height="10" class="Detail_img_linedetail" />00mb</span>
                <a href="#" ><img src="images/img_arrow_download.png" width="16" height="15" class="Down_button_align"/></a>
                </div>
            </div>
        </div>    -->
</div>
<div id="Box_right">
    <div id="Box_ondeencontrar">
    <br />
        <h1 class="Title_3_int_blue_big">Onde encontrar?</h1>
        <p class="Text_2_int">Selecione as informações de sua localização abaixo e encontre as revendas mais próximas.</p>
        <p class="Title_4_int"><a href="./onde_encontrar">Clique aqui!</a></p><br /><br /><br /><br /><br /><br />
        <h1 class="Title_5_int">Veja também:</h1>
        <a href="./clorador"><img src="images/img_aquaclor_clorador.png" width="205" height="56" class="img_align_aqua_box_left" /></a>
    </div>    
</div>