<%content_for :title do%>
	Vantagens
<%end%>

<%content_for :head do%>
	<script>
	$(document).ready(function() {
	    $(".Slider_box").hide();

		$("#Div_clique").click(function(){
			if ($(".Slider_box").is(":hidden")) {
				$(".Slider_box").slideDown("slow");
			} else {
				$(".Slider_box").slideUp("hide");
			}
		});
	});
	</script>
<%end%>

<div id="Box_left">
<h1 class="Title_1_int">	Confira algumas das vantagens do Aqua Clor Clorador para a sua revenda:</h1>
   
<span class="Title_3_int_blue" style="margin:0px;"><a><img src="images/img_arrowright_detail.png" width="7" height="6" style="margin-bottom:2px; margin-right:4px;" />Investimento em estoque:</a></span>

<p class="Text_1_int">
	Para vender um Clorador, o investimento em estoque é de R$ 0,00 <br>
	Para vender 36 baldes de cloro o investimento é de R$ 2.857,14
</p><br><br>

<span class="Title_3_int_blue" style="margin:0px;"><a><img src="images/img_arrowright_detail.png" width="7" height="6" style="margin-bottom:2px; margin-right:4px;" />Lucratividade na venda de CLORO GRANULADO</a></span>

<p class="Text_1_int">
	Preço de COMPRA de um balde de cloro de 10 Kg – R$ 80,00<br>
	Preço de VENDA de um balde de cloro de 10 Kg – R$ 115,00<br>
	<br>
	Lucro bruto por balde – R$ 35,00<br>
	
</p><br><br>

<span class="Title_3_int_blue" style="margin:0px;"><a><img src="images/img_arrowright_detail.png" width="7" height="6" style="margin-bottom:2px; margin-right:4px;" />Análise de lucratividade na venda do Aqua Clor Clorador</a></span>

<p class="Text_1_int">
	Preço de COMPRA de um GERADOR DE CLORO - AC-15/AL – R$ 1.350,00<br>
	Preço de VENDA de um GERADOR DE CLORO - AC-15/AL - R$ 2.600,00<br>
	<br>
	Lucro bruto por aparelho – R$ 1.250,00<br>
	<br>
	Considerando a lucratividade na venda de cada produto temos:<br>
	<br>
	<div class="Text_topic_field">
		<span class="Text_1_int_topic"><span class="Text_1_int_topic_num">1.</span> Que a venda de um Aquaclor Clorador equivale a 36 baldes de cloro granulado de 10 Kg.</span><br />
		<span class="Text_1_int_topic"><span class="Text_1_int_topic_num">2.</span> Considerando-se que numa piscina de 8m x 4m x 1,3 m temos um consumo estimado de 3 baldes por ano.</span><br />
		<span class="Text_1_int_topic"><span class="Text_1_int_topic_num">3.</span> Havendo um consumo de 3 baldes de cloro por ano pelo mesmo consumidor, ele levaria 12 anos para gerar o mesmo lucro, caso fosse totalmente fidelizado àquela loja.</span><br />
		</div>	
</p><br><br>

<span class="Title_3_int_blue" style="margin:0px;"><a><img src="images/img_arrowright_detail.png" width="7" height="6" style="margin-bottom:2px; margin-right:4px;" />Base de cálculo de consumo de cloro granulado:</a></span>

<p class="Text_1_int">
	Dimensões da piscina: 8,0m x 4,0m x 1,3 m.<br>
	Volume de água: 41,6 m³.<br>
	Indicação de consumo (a cada 2 dias): 4 g/m³.<br>
	Consumo de cloro (a cada 2 dias): 166,4 g/2 dias.<br>
	Consumo de cloro (a cada 30 dias): 2496 g/mês.<br>
	Consumo de cloro (a cada ano): 29952 g/ano.<br>
	Número de baldes de cloro: 3 baldes/ano.<br>

	
</p><br><br>

	<!-- 
	<p class="Text_1_int">OpH-Cl é um moderno e versátil controlador de PH e cloro quetornará seu lazer ainda mais saudável e seguro.</p>
    <br />
    <p class="Text_1_int">Podendo ser utilizado em conjunto com o Clorador ou com uma bomba dosadora,o pH-Cl regula os níveis de phou cloro da água de sua piscina, fazendo com que esteja sempre dentro dos padrões ideais para garantir a segurança, conforto e saúde de todos os banhistas.</p>
    <br />
    <p class="Text_1_int">Sua versatilidade e eficiência são percebidas na definição de sua função, uma vez que pode monitorar apenas uma substância (PH ou cloro) de forma dedicada, de acordo com a função escolhida. Para monitorar e controlar os níveis de ambas as substâncias, é indicado o uso de dois aparelhos AquaclorpH-Cl, sendo, em conjunto com o AquaclorClorador, o kit completo de automatização no acompanhamento e tratamento da água de piscinas.</p>
    <br />
    <span class="Title_2_int">O AquaclorpH-Cl garante a você vantagens exclusivas:</span>
    <br />
   <div class="Text_topic_field">
        <span class="Text_1_int_topic"><span class="Text_1_int_topic_num">1.</span> Elimina a necessidade de aplicação constante de reagentes para testes dos níveis de cloro ou ph.</span><br />
        <span class="Text_1_int_topic"><span class="Text_1_int_topic_num">2.</span> Mantém a piscina sempre pronta para uso com segurança e sem trabalho, pois controla a aplicação de niveladores de ph ou cloro, garantindo a higiene e qualidade da água.</span><br />
        <span class="Text_1_int_topic"><span class="Text_1_int_topic_num">3.</span> Garante praticidade na manutenção e mais tempo a você e sua família para aproveitar a piscina.</span><br />
		<br /> <br /> 
   </div>  
   <p class="Text_1_int">Para facilitar a leitura das operações do aparelho, o pH-Cl  possui display de 2 linhas por 16 caracteres que apresenta a temperatura e a medida realizadas pelo sensor de pH ou ORP – cloro. </p>
   <br />
   <p class="Text_1_int">O pH-Cl é a solução ideal para quem busca manter a água da piscina sempre equilibrada, com ph e cloro nas medidas certas, conferindo ainda mais qualidade à água e tempo a você.</p>    
   <br />
   <span class="Title_3_int_blue" id="Div_clique"><a><img src="images/img_arrowright_detail.png" width="7" height="6" style="margin-bottom:2px; margin-right:4px;" />Informações técnicas</a></span>	 
        <div id="Field_download">
            <div class="Slider_box">
                <div class="Down_content">
                <span class="Down_text1"><a href="#" >Manual do Produto</a> </span><br />
                <span class="Down_text2">Nomearquivo</span><span class="Down_text2"><img src="images/img_detail_line_download.png" width="2" height="10" class="Detail_img_linedetail" />00mb</span>
                <a href="#" ><img src="images/img_arrow_download.png" width="16" height="15" class="Down_button_align"/></a>
                </div>
            </div>
        </div>    -->
</div>
<div id="Box_right">
    <div id="Box_ondeencontrar">
    <br />
        <h1 class="Title_3_int_blue_big">Onde encontrar?</h1>
        <p class="Text_2_int">Selecione as informações de sua localização abaixo e encontre as revendas mais próximas.</p>
        <p class="Title_4_int"><a href="./onde_encontrar">Clique aqui!</a></p><br /><br /><br /><br /><br /><br />
        <h1 class="Title_5_int">Veja também:</h1>
        <a href="./clorador"><img src="images/img_aquaclor_clorador.png" width="205" height="56" class="img_align_aqua_box_left" /></a>
    </div>    
</div>