<%content_for :title do%>
	
<%end%>

<%content_for :head do%>
	<script>
	$(document).ready(function() {
	    $(".Slider_box").hide();

		$("#Div_clique").click(function(){
			if ($(".Slider_box").is(":hidden")) {
				$(".Slider_box").slideDown("slow");
			} else {
				$(".Slider_box").slideUp("hide");
			}
		});
	});
	</script>
<%end%>

<div id="Box_left">
<h1 class="Title_1_int">PH-Cl</h1>
    <p class="Text_1_int">O AquaClorpH-Cl é um moderno e versátil controlador de pH e cloro que tornará seu lazer ainda mais saudável e seguro. Quando utilizado em conjunto com o AquaClorclorador ou com uma bomba dosadora, o AquaClorpH-Cl regula os níveis de pH ou cloro da água de sua piscina, assegurando que a água da piscina esteja sempre dentro dos padrões ideais para garantir a segurança, conforto e saúde de todos os banhistas.</p>
    <br />
    <p class="Text_1_int">Sua versatilidade e eficiência são percebidas na definição de sua função, uma vez que pode monitorar apenas uma substância (pH ou cloro) de forma exclusiva, de acordo com a função escolhida. Para monitorar e controlar os níveis de pH e cloro, você precisará de dois aparelhos, um para cada função.</p>
    <br />
    <span class="Title_2_int">O AquaClorpH-Cl possui funções-padrão que permitem:</span>
    <br />
   <div class="Text_topic_field">
        <span class="Text_1_int_topic"><span class="Text_1_int_topic_num">1.</span>Proteção da programação por senha;</span><br />
        <span class="Text_1_int_topic"><span class="Text_1_int_topic_num">2.</span>Estatística de acionamento do relé;</span><br />
        <span class="Text_1_int_topic"><span class="Text_1_int_topic_num">3.</span>Indicação da qualidade de calibragem;</span><br />
		<span class="Text_1_int_topic"><span class="Text_1_int_topic_num">4.</span>Controle de dosagem através da função OFA (Over FeedAlarm) de sobredosagem;</span><br />
		<span class="Text_1_int_topic"><span class="Text_1_int_topic_num">5.</span>Alarme;</span><br />
		<span class="Text_1_int_topic"><span class="Text_1_int_topic_num">6.</span>Dosagem proporcional em ralação às definições de uso.</span><br />
		<br /> <br /> 
   </div>  
   <p class="Text_1_int">Para facilitar a leitura das operações do aparelho, o AquaClorpH-Cl possui display de duas linhas com 16 caracteres que apresentam a temperatura e a medida realizadas pelo sensor de pH ou ORP – cloro. O AquaClorpH-Cl é a solução ideal para quem busca manter a água da piscina sempre equilibrada, com pH e cloro nas medidas certas, conferindo ainda mais qualidade à água e tempo a você.</p>
   <br />
   <span class="Title_3_int_blue" id="Div_clique"><a><img src="images/img_arrowright_detail.png" width="7" height="6" style="margin-bottom:2px; margin-right:4px;" />Informações técnicas</a></span>	 
        <div id="Field_download">
            <div class="Slider_box">
                <div class="Down_content">
					<span class="Down_text1"><a href="/images/Folheto Aquaclor Web.pdf" >Folheto Aquaclor</a> </span><br />
					<span class="Down_text2">Folheto Aquaclor</span><span class="Down_text2"><img src="images/img_detail_line_download.png" width="2" height="10" class="Detail_img_linedetail" />4.2mb</span>
					<a href="/images/Folheto Aquaclor Web.pdf" ><img src="images/img_arrow_download.png" width="16" height="15" class="Down_button_align"/></a>
                </div>
                <div class="Down_content">
					<span class="Down_text1"><a href="/images/manua.pdf" >Manual Aquaclor</a> </span><br />
					<span class="Down_text2">Folheto Aquaclor</span><span class="Down_text2"><img src="images/img_detail_line_download.png" width="2" height="10" class="Detail_img_linedetail" />26.3mb</span>
					<a href="/images/Folheto Aquaclor Web.pdf" ><img src="images/img_arrow_download.png" width="16" height="15" class="Down_button_align"/></a>
                </div>				
            </div>
        </div>    
</div>
<div id="Box_right">
    <div id="Box_ondeencontrar">
    <br />
        <h1 class="Title_3_int_blue_big">Onde encontrar?</h1>
        <p class="Text_2_int">Selecione as informações de sua localização abaixo e encontre as revendas mais próximas.</p>
        <p class="Title_4_int"><a href="./onde_encontrar">Clique aqui!</a></p><br /><br /><br /><br /><br /><br />
        <h1 class="Title_5_int">Veja também:</h1>
        <a href="./clorador"><img src="images/img_aquaclor_clorador.png" width="205" height="56" class="img_align_aqua_box_left" /></a>
    </div>    
</div>