<%content_for :title do%>
	
<%end%>

<%content_for :head do%>
	<script>
	$(document).ready(function() {
	    $(".Slider_box").hide();

		$("#Div_clique").click(function(){
			if ($(".Slider_box").is(":hidden")) {
				$(".Slider_box").slideDown("slow");
			} else {
				$(".Slider_box").slideUp("hide");
			}
		});
	});
	</script>
<%end%>

<div id="Box_left">
<h1 class="Title_1_int">Clorador:</h1>
    <p class="Title_2_int">SAÚDE, TRANQUILIDADE E COMODIDADE.</p>
    <br />
    <p class="Text_1_int">O AquaClorclorador garante que a cloração da água de piscinas seja feita automaticamente. Utilizando tecnologia largamente utilizada em países como Austrália, África do Sul, Estados Unidos e países da Europa, a Nautilus desenvolveu o AquaClorclorador, um equipamento que produz cloro a partir do sal, através de um processo de eletrólise. É a forma mais econômica e ecológica de manter clorada uma piscina. Não há risco de incêndio e explosões, nem os incômodos de manusear os outros tipos de cloro. Além disso, não causa irritação nos olhos e na pele, não ataca os cabelos e não produz odores desagradáveis.</p>
    <br />
    <span class="Title_2_int">PRINCÍPIO DE FUNCIONAMENTO</span>
    <br />
	<p class="Text_1_int">O AquaClorclorador é constituído de uma unidade retificadora de corrente elétrica e de células eletrolíticas de titânio. O cloro é gerado a partir da adição do sal, preferencialmente isento de iodo, na água da piscina, numa proporção de 45 Kg de sal para cada 10.000 litros de água (4.500 ppm – partes por milhão). Essa concentração corresponde à concentração de uma lágrima humana. A título de comparação, a concentração normal da água do mar é cerca de 10 vezes maior.</p>
    <br />
	<p class="Text_1_int">Por ser produzido no Brasil, com alto índice de componentes nacionais, o AquaClorclorador assegura uma rápida e econômica reposição de peças originais.</p>
	<br />
	<p class="Title_2_int">DIMENSIONAMENTO E RECOMENDAÇÕES</p>
	<br />
	<p><%= image_tag("Tabela_1_clorador.jpg", :width=>"400")%></p>
	<br />
	<p class="Text_1_int"><b>Recomendação básica:</b> o uso de estabilizador de cloro (ácido isocianúrico) em concentração recomendável (25 a 50 ppm) reduzirá em até 30% a necessidade de geração de cloro, fazendo com que o tempo de vida útil do equipamento seja prolongado.</p>
	<br />
	<span class="Title_2_int">VANTAGENS QUE O EQUIPAMENTO OFERECE AO SEU USUÁRIO</span>
	<br />
	<div class="Text_topic_field">
    	<p class="Text_1_int"><span class="Text_1_int_topic_num">1.</span>Elimina os riscos do manuseio de outros tipos de cloro, inclusive de explosão;</p>
    	<p class="Text_1_int"><span class="Text_1_int_topic_num">2.</span>Automatiza a produção de cloro;</p> 
   		<p class="Text_1_int"><span class="Text_1_int_topic_num">3.</span>Automatiza a filtração da piscina;</p>    
		<p class="Text_1_int"><span class="Text_1_int_topic_num">4.</span>Garante residual de bactericida (cloro) na água;</p>
		<p class="Text_1_int"><span class="Text_1_int_topic_num">5.</span>Reduz a irritação de olhos e ressecamento da pele;</p>
		<p class="Text_1_int"><span class="Text_1_int_topic_num">6.</span>A automatização do sistema reduz sensivelmente o trabalho com a manutenção da piscina, propiciandoa você mais tempo para aproveitar sua piscina, com o conforto que você merece;</p>
		<p class="Text_1_int"><span class="Text_1_int_topic_num">7.</span>Em regime normal de trabalho, o AquaClorclorador impede o esverdeamento da piscina, evitando que esteja imprópria para uso.</p>
		<p class="Text_1_int"><span class="Text_1_int_topic_num">8.</span>Devido à automatização da filtração e cloração, impede a formação de colônias de Aedes Aegypti, responsável pela transmissão da dengue.</p>
		<p class="Text_1_int"><span class="Text_1_int_topic_num">9.</span>Garante mais economia com custos de tratamento da água e manutenção.</p>
    </div>
    <br /><br />
    <span class="Title_2_int">VANTAGENS EXCLUSIVAS E CARACTERÍSTICAS GERAIS DO EQUIPAMENTO</span>
    <br />
    <div class="Text_topic_field">
    	<p class="Text_1_int"><span class="Text_1_int_topic_num">1.</span>Seu gabinete é produzido em plástico e seu chassi em alumínio, conferindo ao produto vida útil prolongada e facilitando sua instalação e manutenção;</p>
    	<p class="Text_1_int"><span class="Text_1_int_topic_num">2.</span>Dispõe de display que indica detalhes do funcionamento e eventuais falhas no equipamento;</p> 
   		<p class="Text_1_int"><span class="Text_1_int_topic_num">3.</span>Protege o equipamento contra curto circuito;</p>    
		<p class="Text_1_int"><span class="Text_1_int_topic_num">4.</span>Possui Timmer integrado, possibilitando a programação de funcionamento do equipamento, à cada dia da semana.</p>
		<p class="Text_1_int"><span class="Text_1_int_topic_num">5.</span>Comanda automaticamente o funcionamento da bomba d’água, além de possibilitar o seu funcionamento manual para atender a determinadas funções do sistema de filtração.</p>
		<p class="Text_1_int"><span class="Text_1_int_topic_num">6.</span>Faz a leitura da concentração de sal, e quando houver necessidade, indica qual a quantidade de sal a ser adicionada na água da piscina.</p>
		<p class="Text_1_int"><span class="Text_1_int_topic_num">7.</span>Procede automaticamente à limpeza das células de titânio, através da reversão de polaridade da corrente elétrica, praticamente eliminando qualquer tipo de manutenção e prolongando a vida útil do equipamento.</p>
		<p class="Text_1_int"><span class="Text_1_int_topic_num">8.</span>Rápida reposição de peças, a um custo diferenciado, quando isso se fizer necessário.</p>
    </div>	
	<br /><br />
	
    <p class="Text_1_int">O AquaClor é constituído de uma unidade retificadora de corrente elétrica e de células eletrolíticas de titânio. O cloro é gerado a partir da adição do sal, preferencialmente isento de iodo, na água da piscina, numa proporção de 45 Kg de sal para cada 10.000 litros de água (4.500 ppm – partes por milhão). Essa concentração de sal corresponde à concentração de sal de uma lágrima humana. A título de comparação, a concentração normal da água do mar é cerca de 10 vezes maior. Produzido no Brasil e com alto índice de componentes nacionais, o AquaClorapresenta uma rápida e econômica reposição depeças originais.</p>
    <br />
    <span class="Title_3_int_blue" id="Div_clique"><a ><img src="images/img_arrowright_detail.png" width="7" height="6" style="margin-bottom:2px;" />Informações técnicas</a></span>
        <div id="Field_download">
            <div class="Slider_box">
				<p><%= image_tag("Tabela_2_clorador.jpg", :width=>"500", :style=>"position:relative;left:10px;") %></p>
				<br /><br />
                <div class="Down_content">
                <span class="Down_text1"><a href="#" >Manual do Produto</a> </span><br />
                <span class="Down_text2">Nomearquivo</span><span class="Down_text2"><img src="images/img_detail_line_download.png" width="2" height="10" class="Detail_img_linedetail" />00mb</span>
                <a href="#" ><img src="images/img_arrow_download.png" width="16" height="15" class="Down_button_align"/></a>
                </div>				
				<br />
                <div class="Down_content">
                <span class="Down_text1"><a href="/images/Folheto Aquaclor Web.pdf" >Folheto Aquaclor</a> </span><br />
                <span class="Down_text2">Folheto Aquaclor</span><span class="Down_text2"><img src="images/img_detail_line_download.png" width="2" height="10" class="Detail_img_linedetail" />4.2mb</span>
                <a href="/images/Folheto Aquaclor Web.pdf" ><img src="images/img_arrow_download.png" width="16" height="15" class="Down_button_align"/></a>
                </div>				
            </div>
        </div>
    </div>	 
</div>
<div id="Box_right">
    <div id="Box_ondeencontrar">
    <br />
        <h1 class="Title_3_int_blue_big">Onde encontrar?</h1>
        <p class="Text_2_int">Selecione as informações de sua localização abaixo e encontre as revendas mais próximas.</p>
        <p class="Title_4_int"><a href="./onde_encontrar">Clique aqui!</a></p><br /><br /><br /><br /><br /><br />
        <h1 class="Title_5_int">Veja também:</h1>
        <a href="./ph_clorador"><img src="images/img_aquaclor_ph_cl.png" width="205" height="61" class="img_align_aqua_box_left" /></a>
    </div>    
</div>