<div id="Box_1">
    <img src="images/img_saude_tranquilidade_comodidade.png" width="417" height="121" class="img_align_aqua_box_1" />
    <p class="Text_2_box1">Uma das linhas mais completas na automação do tratamento de piscinas, os equipamentos Aquaclor foram desenvolvidos para proporcionar mais saúde na água da sua piscina, tranquilidade no dia-a-dia, dispensando trabalho no tratamento, e comodidade, oferecendo a você mais tempo para aproveitar sua piscina. </p>	
    <div id="Box_ondeencontrar">
    <br />
        <h1 class="Title_3_int_blue_big">Onde encontrar?</h1>
        <p class="Text_2_int">Descubra onde encontrar o Aquaclor em uma revenda próxima a você.</p>
        <p class="Title_4_int"><a href="./onde_encontrar">Clique aqui!</a></p>
    </div>  
   <img src="images/img_line_detail_container.png" width="981" height="7" class="img_align_line_box_2" />    
</div>
<div id="Box_2">
  <div id="Box_2_linhas">
    <h2 class="Title_1_linhas">Conheça nossa linha:</h2>
    <div class="Box_2_linhas_item1">
        <a href="./clorador"><img src="images/img_aquaclor_clorador.png" width="205" height="56" class="Box_2_linhas_item_image1" /></a><br /><br /><br /><br /> 
      <p class="Text_2_box2">O clorador Aquaclor produz hipoclorito de sódio a partir de sal adicionado à água da piscina, proporcionando lazer sem preocupação e com saúde, tranquilidade e comodidade.<span class="Text_2_box2_orange"><a href="./clorador">Saiba mais.</a></span></p>
    </div>
    <div class="Box_2_linhas_item2">
        <a href="./produto_ph_clorador.html"><img src="images/img_aquaclor_ph_cl.png" width="205" height="61" class="Box_2_linhas_item_image2" /></a><br /><br /><br /><br /> 
      <p class="Text_3_box2">O Aquaclor PH + CL é o um dos equipamentos mais completos na automação de piscinas, pois monitora e controla os níveis de acidez da água (PH) e de cloro utilizados na água.<span class="Text_2_box2_orange"><a href="./ph_clorador">Saiba mais.</a></span></p>
    </div>  
  </div>

    
</div> 
  <div id="Box_2_video">
   <a href="http://www.youtube.com/watch?v=ExajIlktMOo" target="_blank"> <img src="images/img_video.png" width="299" height="207" /></a>
    <p class="Text_2_box2_clique_video_orange"><a href="http://www.youtube.com/watch?v=ExajIlktMOo" target="_blank">Clique aqui e veja nosso vídeo!</a></p>
  </div>