<% title "Rank" %>

<h1>Rank</h1><br />
<p>Verifique abaixo o rank de venda.</p><br />
<br />
<br />
<table cellspacing="0" class="tablesorter">
  <thead> 
  <tr>
	<th style="width:10%;">Posição</th>
    <th style="width:30%;">Nome</th>
    <th style="width:30%;">Revenda</th>
    <th  style="width:20%;">Ações</th>
</tr>
</thead> 
<tbody>
  <% i = 1 %>	
  <% for rank in @ressellers %>
    <tr>
	  <td><%= i %></td>
      <td><%= rank.user.name %></td>
      <td><%= rank.user.reseller.name %></td>
      <td><%= link_to "Visualizar Notas", admin_rank_path(rank.user_id) %></td>
    </tr>
	<% i = i +1 %>
  <% end %>
  </tbody>
</table>
