<div class="Onde_encontrar_field_1">
	<img src="images/img_brazil_map_onde_encontrar.png" width="145" height="162" class="img_align_ondeencontrar_top"/>
    <div class="Ondeencontrar_text_top">
    	<span class="Ondeencontrar_title_blue_big">Onde encontrar?</span><br /><br />
    	<span class="Text_2_int_ondeencontrar">Selecione as informações de sua localização abaixo e encontre as revendas mais próximas.</span>
    </div>
    <div class="Select_area">
      <span class="labelselect2">Estado&nbsp;<img src="images/img_select_line_vert_detail.png" width="2" height="46" class="img_align_select" /></span>
      <select>
            <option value="teste1">São Paulo</option>
            <option value="teste1">Atibaia</option>
      </select>	
        <br /><br /><br />
      <span class="labelselect2">Cidade<img src="images/img_select_line_vert_detail.png" width="2" height="46" class="img_align_select" /></span>  
      <select>
            <option value="teste1">Atibaia</option>
            <option value="teste1">Atibaia</option>
      </select>
      <br /><br /><br /><br />
      <div class="Clear"></div>
        <div class="Name_corps">
       		<img src="images/img_corp_detail_blue.png" width="9" height="64" style="float:left;" />
        	<span class="Title_1_corps">ISOTRONIC INDUSTRIA E COMERCIO LTDA.</span><br />
            <span class="Text_label"><label>Local:</label> ATIBAIA / SP</span><br />
            <span class="Text_label"><label>Bairro:</label> CENTRO</span><br />
            <span class="Text_label"><label>CEP:</label> 12951280</span><br />
            <span class="Text_label"><label>Telefone:</label> (11) 4411-0489 / (11) 9910-3926</span>
       	</div>
        <div class="Name_corps">
       		<img src="images/img_corp_detail_blue.png" width="9" height="64" style="float:left;" />
        	<span class="Title_1_corps">M. N. EQUIPAMENTOS PARA PISCINAS LTDA.</span><br />
            <span class="Text_label"><label>Local:</label> ATIBAIA / SP</span><br />
            <span class="Text_label"><label>Bairro:</label> CENTRO</span><br />
            <span class="Text_label"><label>CEP:</label> 12940000</span><br />
            <span class="Text_label"><label>Telefone:</label> (11) 4412-5344 / JORGE(11)9877-9823</span>
       	</div>
        <div class="Name_corps">
       		<img src="images/img_corp_detail_blue.png" width="9" height="64" style="float:left;" />
        	<span class="Title_1_corps">POOL SHOP COM. DE EQUIPAMENTOS P/PISCINA.</span><br />
            <span class="Text_label"><label>Local:</label> ATIBAIA / SP</span><br />
            <span class="Text_label"><label>Bairro:</label> CENTRO</span><br />
            <span class="Text_label"><label>CEP:</label> 12942530</span><br />
            <span class="Text_label"><label>Telefone:</label> (11) 4411-1170 / (11) 4412-2011</span>
       	</div>                   
        <div class="Name_corps">
       		<img src="images/img_corp_detail_blue.png" width="9" height="64" style="float:left;" />
        	<span class="Title_1_corps">ATIBAIA MERCANTIL DE EQUIPAMENTO LTDA.ME</span><br />
            <span class="Text_label"><label>Local:</label> ATIBAIA / SP</span><br />
            <span class="Text_label"><label>Bairro:</label> CENTRO</span><br />
            <span class="Text_label"><label>CEP:</label> 12953312</span><br />
            <span class="Text_label"><label>Telefone:</label> (11) 4412-9388 / cel.Marcos-9951-3345 </span>
       	</div>                       	            
    </div>          
</div>