<div class="Clear"></div>
<div id="Footer">
	<img src="/images//img_footer_line_detail.png" width="941" height="1" />
	<a href="http://www.nautilus.ind.br" target="_blank" ><img  class="Mini_logo_Footer" src="/images//img_mininautlogo.png" width="71" height="32" /></a>
	<p class="Text_Footer">Nautilus (C) Todos os direitos reservados.</p>
</div>