<div id="Header">
	<div id="Logo">
	  <a href="./"><img src="/images//logo_aquaclor.png" width="492" height="80" /></a>
    </div> 
    <div id="Field_nautilus">
    	<a href="http://www.nautilus.ind.br" target="_blank"><img src="/images//img_umprodutonautilus.png" width="203" height="163" /></a>
    </div>
</div>